Flask>=2.0.2
spacy>=3.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
https://download.pytorch.org/whl/cpu/torch-0.4.1-cp37-cp37m-win_amd64.whl
nltk>=3.6.7
pandas>=1.4.0
numpy >=1.22.1
gensim>=4.1.2
Jinja2>=3.0.3
torchtext>=0.11.1