<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Similar Technical Subreddit Sorter
		</div>
		<h2>Enter the title of your subreddit post, and the application will suggest to you where it belongs most out of the subreddits
			r/Python, r/datascience, r/compsci, and r/learnmachinelearning:</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter the Title of the Post Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="12" cols="100"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
			
		<p>This application is designed to help aid users and moderators of the subreddits: r/Python, r/datascience, r/compsci, and r/learnmachinelearning, in either 
			suggesting to users where posts should be posted/crossposted to or in helping moderators flag posts that are off topic without having to sort 
			through all of them. This application could be expanded to include a larger range of technical subreddits of similar content. The model is a Convolutional 
			Neural Network Trained from 1300 reddit posts.</p>
		
	</form>
		
	</div>

	
	

</body>
</html>
