<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Similar Technical Subreddit Sorter
		</div>
		<h2>You have entered the title of your subreddit post, and the application has suggested to you where it belongs most out of the subreddits
			r/Python, r/datascience, r/compsci, and r/learnmachinelearning:</h2>
		
	</div>
	</header>
	<p style="color:blue;font-size:20;text-align: center;"><b>Thank You for Trying my App! --datadave@gmail.com, https://github.com/djthorne333</b></p>
	<div class="results">
	
	
		
	{% if prediction == 0%}
	<h2 style="color:red;">This post likely belongs in r/Python</h2>
	{% elif prediction == 1%}
	<h2 style="color:red;">This post likely belongs r/learnmachinelearning</h2>
	{% elif prediction == 2%}
	<h2 style="color:red;">This post likely belongs in r/DataScience</h2>
	{% elif prediction == 3%}
	<h2 style="color:red;">This post likely belongs in r/compsci</h2>
	{% endif %}
		
	<p>This application is designed to help aid users and moderators of the subreddits: r/Python, r/datascience, r/compsci, and r/learnmachinelearning, in either 
			suggesting to users where posts should be posted/crossposted to or in helping moderators flag posts that are off topic without having to sort 
			through all of them. This application could be expanded to include a larger range of technical subreddits of similar content. The model is a Convolutional 
			Neural Network Trained from 1300 reddit posts.</p>

	</div>

</body>
</html>
